In [2]:
import pandas as pd

In [3]:
dataset_mentors  = pd.read_excel("~/shared_data_read_only/Data/Article1/Hackaton_Benevoles_JPMORGAN.xlsx", sheet_name = None)
dataset_students = pd.read_excel("~/shared_data_read_only/Data/Article1/Hackaton_Jeunes_JPMORGAN.xlsx", sheet_name = None)
dataset_review   = pd.read_excel("~/shared_data_read_only/Data/Article1/Hackaton_Binomes_JPMORGAN.xlsx", sheet_name = None)

In [4]:
for sheet, table in dataset_mentors.items():
    print(sheet)
    display(table)

results-20251009-144250

,mentor_id,registration_date,workfield,current_role,needs_to_address
0,63549,2024-09-04 15:35:14,Consulting-Audit,Junior Consultant Public Sector - Health,"to apply, perform, motivate, discover, english"
1,63599,2024-09-09 15:23:01,Animals,Head of Regulatory Affairs in Europe,"to apply, perform, motivate, discover, english"
2,63515,2024-09-04 09:45:39,Teaching-education,Educational engineer,"to apply, perform, motivate, discover, english"
3,63882,2024-10-04 16:06:14,Computer science,Project Manager,"to apply, perform, motivate, discover"
4,63635,2024-09-11 16:20:37,Human Resources,Senior Recruitment Consultant,"to apply, perform, motivate, english, discover"
...,...,...,...,...,...
8393,64931,2024-11-26 23:32:10,NaN,NaN,NaN
8394,66301,2025-01-04 19:11:01,NaN,NaN,NaN
8395,65995,2024-12-26 22:52:23,NaN,NaN,NaN
8396,67577,2025-01-21 18:31:40,NaN,NaN,NaN
8397,70830,2025-03-25 14:20:13,NaN,NaN,NaN

data_dictionary

Empty DataFrame
Columns: []
Index: []

In [5]:
for sheet, table in dataset_students.items():
    print(sheet)
    display(table)

results-20251009-151946

,mentee_id,field_of_study,study_level,degree,needs,average_grade,program,engagement_score,registration_date,desired_exchange_frequency,hobby,project_confidence_level,project_development_level,Unnamed: 13,Unnamed: 14
0,190789,"Commerce, Management, Economics, Management",Bac+1,BTS,[pro],10 and 12,PP,1,2024-08-01 10:42:11,Once per month,NaN,NaN,NaN,NaN,NaN
1,190790,Other,Bac+5 and plus,Master,[pro],Not specified (or Not provided),PNP,-1,2024-08-01 10:59:37,Not specified (or Not provided),NaN,NaN,NaN,NaN,NaN
2,190791,"Commerce, Management, Economics, Management",Bac+2,BTS,[pro],10 and 12,PP,1,2024-08-01 11:53:17,More than once per week,football,NaN,NaN,NaN,soccer
3,190792,Other,Bac+1,Licence,[pro],Not specified (or Not provided),PNP,0,2024-08-01 12:03:17,Not specified (or Not provided),NaN,NaN,NaN,NaN,NaN
4,190793,"IT, IS, Data, Web, Tech",Bac+5 and plus,Grande Ã©cole,[pro],Not specified (or Not provided),PNP,6,2024-08-01 12:49:51,More than once per week,basketball,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51909,236099,Aeronautics - Space,Not specified (or Not provided),Autre,[pro],Not specified (or Not provided),PP,-4,2025-07-30 16:24:49,Not specified (or Not provided),NaN,5.0,3.0,NaN,NaN
51910,236100,"Agriculture, Natural and Life Sciences",Bac+5 and plus,Ecole Post-bac,[pro],Not specified (or Not provided),PNP,-1,2025-07-30 16:43:46,Not specified (or Not provided),NaN,3.0,3.0,NaN,NaN
51911,236101,Scientist,Bac+2,CPGE,[study],Not specified (or Not provided),PP,6,2025-07-30 18:09:53,Not specified (or Not provided),NaN,3.0,3.0,NaN,NaN
51912,236102,"IT, IS, Data, Web, Tech",Bac+1,Ecole Post-bac,[study],Not specified (or Not provided),EL,1,2025-07-30 19:15:31,Not specified (or Not provided),NaN,3.0,2.0,NaN,NaN
51913,236103,"Industrial, Production, Logistics",Bac+2,BUT/DUT,[pro],Not specified (or Not provided),PP,7,2025-07-30 22:53:29,Not specified (or Not provided),NaN,3.0,2.0,NaN,NaN

data_dictionnary

,Column,Meaning/Label
0,mentee_id,Young Person ID
1,field_of_study,Field of Study
2,study_level,Study Level
3,degree,Degree
4,needs,Areas of Need (either study : need help in the...
5,average_grade,Average Grade
6,program,Program Code (Categorizes the young person bas...
7,engagement_score,Engagement Score : calculated based on the ans...
8,registration_date,Registration Date
9,desired_exchange_frequency,Desired Exchange Frequency with the mentor
10,hobby,Hobby
11,project_confidence_level,Project Confidence Level (before matching)
12,project_development_level,Project Development Level (before matching)
13,NaN,NaN
14,NaN,NaN
15,French Word,English Translation (frequence_echanges_souhai...
16,Once per month,Once per month
17,Once per week,Once per week
18,Once every two weeks (or Bi-weekly),Once every two weeks (or Bi-weekly)
19,More than once per week,More than once per week
20,Not specified (or Not provided),Not specified (or Not provided)

In [7]:
for sheet, table in dataset_review.items():
    print(sheet)
    display(table)

results-20251009-150104

,binome_id,binome_statut,binome_date_proposition,binome_date_creation,binome_acceptance_delay,binome_date_update_statut,binome_cancellation_reason,binome_score,mentee_id,mentor_id
0,157654,COMPLETED,2024-08-01 09:34:37,2024-08-01 14:21:25,286,2024-10-01 16:46:58,NaN,7,181634,62709
1,157655,REJECTED,2024-08-01 14:31:39,NaT,0,2024-08-03 15:00:00,NaN,8,149362,24422
2,157656,REJECTED,2024-08-01 14:50:38,NaT,0,2024-08-03 15:00:00,NaN,8,190489,31188
3,157657,REJECTED,2024-08-01 14:54:30,NaT,0,2024-08-03 15:00:00,NaN,7,190364,63387
4,157658,CANCELLED,2024-08-01 14:55:46,2024-08-01 15:55:58,60,2024-11-26 16:09:12,No response from either party,9,190371,63283
...,...,...,...,...,...,...,...,...,...,...
44463,200209,ACTIVE,2025-07-29 16:30:58,2025-07-29 16:32:24,1,2025-10-06 15:47:55,NaN,6,193107,40341
44464,200210,REJECTED,2025-07-30 10:59:58,NaT,0,2025-08-01 11:00:01,NaN,1,221777,69016
44465,200211,ACTIVE,2025-07-30 11:46:58,2025-07-31 18:02:14,1815,2025-10-07 11:47:40,NaN,5,183691,5616
44466,200212,ACTIVE,2025-07-30 13:46:52,2025-07-30 13:50:06,3,2025-10-06 17:50:31,NaN,1,232742,42695
44467,200213,COMPLETED,2025-07-30 14:07:27,2025-07-30 14:31:15,23,2025-09-26 09:18:01,NaN,4,233339,35064

data_dictionary

,column,Meaning/Label,Unnamed: 2,Binome Statut (for context),English Meaning / Description (binome_statut)
0,binome_id,Pair ID,NaN,PENDING,"A follow-up email has been sent, and neither m..."
1,binome_date_proposition,Proposal Date to the mentee,NaN,ACTIVE,At least one member of the pair has confirmed ...
2,binome_date_creation,Creation Date after acceptation of both parts,NaN,INACTIVE,At least one member of the pair has reported t...
3,binome_acceptance_delay,Acceptance Delay by the mentee (Minutes),NaN,AMBIGUOUS,"One person confirmed that everything is fine, ..."
4,binome_date_update_statut,binome_statut Update Date (modification of the...,NaN,CANCELLED,The pair has been cancelled by one of the part...
5,binome_cancellation_reason,Cancellation Reason,NaN,COMPLETED,Marks the end of the pair's relationship/assig...
6,binome_score,Match Score,NaN,REJECTED,The mentee did not respond to the initial emai...
7,mentee_id,mentee ID,NaN,NaN,NaN
8,mentor_id,Mentor ID,NaN,NaN,NaN
9,binome_statut,statut of the binome,NaN,NaN,NaN

Pre Processing Data:
Lasso regression to find correllations.

Count number of different categories in each field

In [64]:
def count(table_name, table_data):
    count_field = {}
    for col in table_data.columns:
        count_field[col] = {}
    
    
        
    for i in range(len(table_data)):
        x = table_data.iloc[i]
        for i in x.index:
            if x[i] in count_field[i]:
                count_field[i][x[i]] += 1
            else:
                count_field[i][x[i]]  = 1
            
        
        
    return count_field

def rank_dictionary(dic):
    dic_view = [ (v,k) for k,v in dic.items() ]
    dic_view.sort(reverse=True) # natively sort tuples by first element
    for v,k in dic_view:
        print("%s: %d" % (k,v))

In [71]:
counts_review = count("results-20251009-150104", dataset_review["results-20251009-150104"])

In [78]:
print(counts_review.keys())
rank_dictionary(counts_review['binome_score'])

dict_keys(['binome_id', 'binome_statut', 'binome_date_proposition', 'binome_date_creation', 'binome_acceptance_delay', 'binome_date_update_statut', 'binome_cancellation_reason', 'binome_score', 'mentee_id', 'mentor_id'])

TypeError: '<' not supported between instances of 'int' and 'datetime.datetime'

In [22]:
#Query the dataset for binomes that were completed

#Join student and mentor databases with reviews

d = dataset_students["results-20251009-151946"].join(dataset_review["results-20251009-150104"], how='left', on='mentee_id', lsuffix='review', rsuffix='students')
d = d.join(dataset_mentors["results-20251009-144250"], how='left', on='mentor_id', lsuffix="stu+rev", rsuffix="mentors")

In [23]:
d

,mentee_idreview,field_of_study,study_level,degree,needs,average_grade,program,engagement_score,registration_datestu+rev,desired_exchange_frequency,...,binome_date_update_statut,binome_cancellation_reason,binome_score,mentee_idstudents,mentor_idstu+rev,mentor_idmentors,registration_datementors,workfield,current_role,needs_to_address
0,190789,"Commerce, Management, Economics, Management",Bac+1,BTS,[pro],10 and 12,PP,1,2024-08-01 10:42:11,Once per month,...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,190790,Other,Bac+5 and plus,Master,[pro],Not specified (or Not provided),PNP,-1,2024-08-01 10:59:37,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,190791,"Commerce, Management, Economics, Management",Bac+2,BTS,[pro],10 and 12,PP,1,2024-08-01 11:53:17,More than once per week,...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,190792,Other,Bac+1,Licence,[pro],Not specified (or Not provided),PNP,0,2024-08-01 12:03:17,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,190793,"IT, IS, Data, Web, Tech",Bac+5 and plus,Grande Ã©cole,[pro],Not specified (or Not provided),PNP,6,2024-08-01 12:49:51,More than once per week,...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51909,236099,Aeronautics - Space,Not specified (or Not provided),Autre,[pro],Not specified (or Not provided),PP,-4,2025-07-30 16:24:49,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
51910,236100,"Agriculture, Natural and Life Sciences",Bac+5 and plus,Ecole Post-bac,[pro],Not specified (or Not provided),PNP,-1,2025-07-30 16:43:46,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
51911,236101,Scientist,Bac+2,CPGE,[study],Not specified (or Not provided),PP,6,2025-07-30 18:09:53,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
51912,236102,"IT, IS, Data, Web, Tech",Bac+1,Ecole Post-bac,[study],Not specified (or Not provided),EL,1,2025-07-30 19:15:31,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
51913,236103,"Industrial, Production, Logistics",Bac+2,BUT/DUT,[pro],Not specified (or Not provided),PP,7,2025-07-30 22:53:29,Not specified (or Not provided),...,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN